.main-home {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    height: 800px;
}

.main-home-txns,
.main-home-blocks {
    background-color: #121212;
    margin: 2em 0;
    width: 65%;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    padding: 0 2em;
}

.main-home-txns a,
.main-home-blocks a {
    text-decoration: none;
    color: #bb86fc;
}

.main-home-txns a:hover,
.main-home-blocks a:hover {
    text-decoration: none;
    color: #fff;
}

.main-home-txns .txns-para,
.main-home-blocks .blocks-para {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.157);
    transition: 0.3s;
}

.main-home-txns .txns-para:hover,
.main-home-blocks .blocks-para:hover {
    transform: scale(1.02);
}