.header {
    background-color: grey;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2:hover {
    cursor: pointer;
}

.nav {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
