.main-secondary {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    height: 650px;
}

.main-secondary-content {
    background-color: #121212;
    margin: 2em 0;
    padding: 2em 4em;
    width: 70%;
    color: #fff;
    border-radius: 8px;
    line-height: 1.2;
}

.main-secondary-content a {
    text-decoration: none;
    color: #bb86fc;
}

.main-secondary-content a:hover {
    text-decoration: none;
    color: #fff;
}

.main-secondary-content .secondary-item {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.157);
}